/* Genel stil ayarları */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #3b77ac;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.school-logo {
    height: 50px;
}

.user-info {
    font-size: 16px;
    margin-left: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    text-align: right;
}

.wrapper {
	width: 100%;
    margin-top: 120px;
    max-width: 1200px;
    background-color: #ffffff;
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.page-title {
	font-family:open Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    text-align: center;
    color: #777474;
    font-size: 24px;
    margin: 20px 0;
    font-weight:100;
}

.main-container {
    display: flex;
    flex-grow: 1;
    margin: 0;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 1px solid #d0d0d0;
}


.item a i {
    margin-right: 8px; /* İkon ile yazı arasına 8px boşluk ekler */
}

.item a {
    display: flex;
    align-items: center;
}

/* Mobil cihazlar için stil */
@media (max-width: 768px) {
    
	.school-logo{
		height: 20px;
	}
}