body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-floating {
    position: relative;
    margin-bottom: 20px;
}

/* Breite und Padding für die Passwortfelder festgelegt */
.form-floating input[type="password"], .form-floating input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
    padding-right: 40px; /* Platz für das Augensymbol rechts */
}

/* Sicherstellen, dass das Label nicht verschoben wird, wenn auf das Auge geklickt wird */
.form-floating input[type="password"]:focus ~ label,
.form-floating input[type="text"]:focus ~ label,
.form-floating input[type="password"]:not(:placeholder-shown) ~ label,
.form-floating input[type="text"]:not(:placeholder-shown) ~ label,
.form-floating:focus-within label {
    top: -10px;
    left: 12px;
    font-size: 12px;
    color: #007bff;
}

.form-floating label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #666666;
    pointer-events: none;
    transition: all 0.3s ease;
}

.form-floating input[type="password"]:focus ~ label,
.form-floating input[type="password"]:not(:placeholder-shown) ~ label {
    top: -10px;
    left: 12px;
    font-size: 12px;
    color: #007bff;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
    font-size: 1.2em;
}

.password-rules {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.password-rules p {
    margin: 5px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.password-rules p::before {
    content: "\2717"; /* Kreuz-Symbol */
    color: #ff0000;
    margin-right: 10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.password-rules .valid::before {
    content: "\2713"; /* Häkchen-Symbol */
    color: #28a745;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: #0056b3;
}

/* Fehlermeldung */
.error {
    color: #ff0000;
    margin-bottom: 20px;
    text-align: center;
}
